@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

header {
  transition: 10s;
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  background: url("../IMG/img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  gap: 5rem;
  padding-bottom: 5rem;
}
header > :nth-child(1) {
  transform: translateY(-100%);
}
header > :nth-child(1) {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  place-content: center;
  align-items: center;
  padding: 1rem 0rem;
}
header > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 92.5%;
  max-width: 1200px;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(1) h1 {
  all: unset;
  font-size: 30px;
  color: white;
  font-weight: 700;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(2) > a {
  all: unset;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 7.5px;
  padding: 0.5rem;
  transition: 0.3s;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(2) > a > :nth-child(1) {
  width: 100%;
  max-width: 35px;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(2) > a > :nth-child(1) img {
  width: 100%;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(2) > a h2 {
  all: unset;
  font-size: 20px;
  font-weight: 800x;
  color: white;
}
header > :nth-child(1) > :nth-child(1) > :nth-child(2) a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
header > :nth-child(2) {
  transform: translateY(100%);
  opacity: 0;
}
header > :nth-child(2) {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  width: 92.5%;
  gap: 2rem;
}
header > :nth-child(2) h2, header > :nth-child(2) h3, header > :nth-child(2) p, header > :nth-child(2) a {
  all: unset;
  color: white;
}
header > :nth-child(2) h2 {
  font-size: 30px;
  font-weight: 500;
}
header > :nth-child(2) h3 {
  font-size: 25px;
  font-weight: 500;
}
header > :nth-child(2) > :nth-child(3), header > :nth-child(2) > :nth-child(4) {
  margin: 0 auto;
  width: 80%;
}
header > :nth-child(2) > :nth-child(3) p, header > :nth-child(2) > :nth-child(4) p {
  font-size: 20px;
  font-weight: 500;
}
header > :nth-child(2) a {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  cursor: pointer;
}
header > :nth-child(2) a > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
}
header > :nth-child(2) a > :nth-child(1) > :nth-child(1), header > :nth-child(2) a > :nth-child(1) > :nth-child(2) {
  width: 100%;
  max-width: 50px;
  transition: 0.3s;
  scale: 2;
}
header > :nth-child(2) a > :nth-child(1) > :nth-child(1) img, header > :nth-child(2) a > :nth-child(1) > :nth-child(2) img {
  width: 100%;
}
header > :nth-child(2) a > :nth-child(1) > :nth-child(2) {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
header > :nth-child(2) a > :nth-child(1):hover > :nth-child(1) {
  visibility: hidden;
  opacity: 0;
}
header > :nth-child(2) a > :nth-child(1):hover > :nth-child(2) {
  position: absolute;
  visibility: visible;
  opacity: 1;
}

.headerAnimation > :nth-child(1) {
  transform: translateY(0%);
  transition: 1s;
}
.headerAnimation > :nth-child(2) {
  transform: translateY(0%);
  opacity: 1;
  transition: 1s;
}

@media (max-width: 650px) {
  header > :nth-child(1) :nth-child(1) {
    flex-flow: column wrap;
    gap: 1rem;
  }
}
@media (max-width: 390px) {
  header > :nth-child(1) > :nth-child(1) {
    flex-flow: column wrap;
    gap: 1rem;
  }
  header > :nth-child(1) > :nth-child(1) > :nth-child(2) a h2 {
    font-size: 14px;
  }
}
main {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
main div {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: red;
  margin: 0 auto;
}
main div div {
  flex: 1;
}
main div div img {
  width: 100%;
}

aside, section, nav {
  background: #eefbf3;
  padding: 5rem 0rem;
  display: flex;
  flex-flow: column wrap;
  gap: 3rem;
}
aside div, section div, nav div {
  margin: 0 auto;
  width: 92.5%;
  max-width: 1200px;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
}
aside div h3, aside div h4, section div h3, section div h4, nav div h3, nav div h4 {
  all: unset;
  font-weight: 700;
  font-size: 30px;
  color: rgb(17, 24, 39);
}
aside div p, section div p, nav div p {
  all: unset;
  font-size: 20px;
  color: rgb(17, 24, 39);
}
aside > :nth-child(2), section > :nth-child(2), nav > :nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
aside > :nth-child(2) div, section > :nth-child(2) div, nav > :nth-child(2) div {
  width: 90%;
  margin: 0 auto;
}
aside > :nth-child(2) a, section > :nth-child(2) a, nav > :nth-child(2) a {
  all: unset;
  cursor: pointer;
  padding: 1rem;
  background: #21513B;
  transition: 0.3s;
  border-radius: 7.5px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  animation: heyClickMe 3.5s infinite ease-in-out;
}

@keyframes heyClickMe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
footer {
  display: flex;
  flex-flow: column wrap;
}
footer > :nth-child(1) {
  background: #21513B;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  color: white;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  align-items: center;
  margin: 0 auto;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  gap: 0.55rem;
  width: 33%;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) a {
  all: unset;
  width: 100%;
  max-width: 25px;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) a img {
  cursor: pointer;
  width: 100%;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) a img:hover {
  scale: 1.1;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: 33%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) h2 {
  all: unset;
  font-weight: 600;
  color: white;
  font-size: 17px;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(3) {
  width: 33%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(3) h4 {
  all: unse;
  font-weight: 500;
  color: white;
  font-size: 16px;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: 100%;
  height: 1px;
  background: #eefbf3;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 0.95rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) {
  all: unset;
  width: 100%;
  max-width: 35px;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) img {
  cursor: pointer;
  width: 100%;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) img:hover {
  scale: 1.05;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  gap: 0.85rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) h4, footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) p {
  all: unset;
  color: white;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) h4, footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) p {
  font-size: 15px;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) h4 {
  font-weight: 700;
  cursor: default;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(3) {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  align-items: center;
  gap: 0.75rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  width: 100%;
  height: 1px;
  background: #eefbf3;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(2) {
  text-align: center;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-flow: column wrap;
  }
  footer > :nth-child(1) {
    background: #21513B;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    color: white;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    align-items: center;
    margin: 0 auto;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    display: flex;
    flex-flow: row wrap;
    gap: 0.55rem;
    width: 33%;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) a {
    all: unset;
    width: 100%;
    max-width: 25px;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) a img {
    cursor: pointer;
    width: 100%;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) a img:hover {
    scale: 1.1;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    width: 33%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) h2 {
    all: unset;
    font-weight: 600;
    color: white;
    font-size: 17px;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(3) {
    width: 33%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(3) h4 {
    all: unse;
    font-weight: 500;
    color: white;
    font-size: 16px;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    width: 100%;
    height: 1px;
    background: #eefbf3;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0rem;
    gap: 1rem;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) {
    all: unset;
    width: 100%;
    max-width: 35px;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) img {
    cursor: pointer;
    width: 100%;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) img:hover {
    scale: 1.05;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) h4, footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) p {
    all: unset;
    color: white;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) h4, footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) p {
    font-size: 15px;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) h4 {
    font-weight: 700;
    cursor: default;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(3) {
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    width: 100%;
    height: 1px;
    background: #eefbf3;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(2) {
    text-align: center;
  }
}
nav > :nth-child(2) form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
}
nav > :nth-child(2) form .inputs-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: auto;
  padding: 0rem 0.5rem;
  border: 1px solid black;
}
nav > :nth-child(2) form .inputs-container:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
nav > :nth-child(2) form .inputs-container > :nth-child(1) {
  width: 100%;
  max-width: 20px;
}
nav > :nth-child(2) form .inputs-container > :nth-child(1) img {
  width: 100%;
}
nav > :nth-child(2) form .inputs-container input {
  all: unset;
  padding: 0.5rem 0rem;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  font-size: 16px;
}
nav > :nth-child(2) form button {
  all: unset;
  cursor: pointer;
  padding: 1rem;
  background: #21513B;
  transition: 0.3s;
  border-radius: 7.5px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin: 0 auto;
  transition: 0.3s;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
nav > :nth-child(2) form button:hover {
  scale: 1.025;
  transition: 0.3s;
}
nav > :nth-child(2) form .error-div-show {
  margin: 0 auto;
  width: min(590px, 90%);
}

.whatsappScreenPositionInternal {
  position: fixed;
  margin-bottom: 1rem;
  margin-right: 1rem;
  right: 0;
  bottom: 0%;
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap;
  gap: 0.5rem;
}
.whatsappScreenPositionInternal .modalWindow {
  width: 100%;
  display: none;
  flex-flow: column wrap;
  transform: translateY(25%);
  opacity: 0%;
  visibility: 0;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) {
  background: linear-gradient(to right, #25D366, #128C7E);
  display: flex;
  flex-flow: column wrap;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(1), .whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(2) {
  margin: 0 auto;
  width: 90%;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.65rem 0rem;
  width: 85%;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(1) > :nth-child(1) p {
  all: unset;
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: min(30px, 100%);
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(1) > :nth-child(2) img {
  width: 100%;
  cursor: pointer;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(2) {
  border-radius: 6px 6px 0px 0px;
  background: url("../IMG/fondoWhatsApp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 1rem 0rem 0rem 0rem;
  gap: 6.5rem;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  margin: 0 auto;
  width: 100%;
  max-width: 90%;
  border-radius: 12px;
  display: flex;
  place-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
  background: #DCF8C6;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  margin: 0 auto;
  width: 94%;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  border-top: 1px solid #c8c8c8;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(2) > :nth-child(2) > :nth-child(1) {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(2) > :nth-child(2) > :nth-child(1) textarea {
  all: unset;
  background: white;
  resize: none;
  border: none;
  font-weight: 400;
  transform: translateY(20%) translateX(3.5%);
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(2) > :nth-child(2) button {
  all: unset;
  cursor: pointer;
  width: min(26px, 100%);
}
.whatsappScreenPositionInternal .modalWindow > :nth-child(1) > :nth-child(2) > :nth-child(2) button img {
  width: 100%;
}
.whatsappScreenPositionInternal .modalWindowNew {
  display: flex;
  transform: scale(1) translateY(0%) translateX(0%);
  opacity: 100%;
  visibility: 1;
}
.whatsappScreenPositionInternal .whatsappCallAction {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  z-index: 2000;
}
.whatsappScreenPositionInternal .whatsappCallAction > :nth-child(1) {
  width: min(50px, 100%);
}
.whatsappScreenPositionInternal .whatsappCallAction > :nth-child(1):hover {
  transform: scale(1.05);
}
.whatsappScreenPositionInternal .whatsappCallAction > :nth-child(1) img {
  width: 100%;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */